[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/usr/bin/prometheus-node-exporter -web.listen-address {{ docker_host}}:{{ node_export_port }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
